<div data-role="page" data-dialog="true" data-close-btn-text="X" data-no-transition-cache>
  <!-- data-close-btn-text="X" Will this attribute show an X in IE8 -->
  <div data-role="header">
    <h2>Edit Account</h2>
  </div><!-- /header -->

  <%= render 'layouts/flash_messages' %>

  <% if !current_user.present? %>

    <%= render 'layouts/sign_in_message' %>

  <% else %>
    <% if !policy(@user).edit? %>
      <div class="unauthorized_content">
        <p>You are not authorized to edit this user's account info.</p>
      </div>
    <% else %>

      <%= render 'form' %>

    <% end %>
    <br />
  <% end %>
</div>

