<h2 style="padding-top: 4em; padding-left: 1em; font-size: 2em; text-decoration: underline;">Previous Questions</h2>

<div style="font-size: 1.1em; margin: 0 2em;">
  <p>You might find these questions and answers helpful. Please ask if you need further details or have a new question!</p>
</div>
<div style="margin: 0 2em;">
  <h5 style="font-weight: bold;">
    Will I be charged for the admin account?
  </h5>
  <p>
    No, you will not be charged for an admin. Only residents are billed to your accocunt.
  </p>
  <h5 style="font-weight: bold;">
    Can an admin submit encounters?
  </h5>
  <p>
    Typically, an admin cannot submit encounters. You may grant an admin the ability
    to submit encounters. However, that admin will then be billed as a resident.
  </p>
  <h5 style="font-weight: bold;">
    Can my residency have more than one admin?
  </h5>
  <p>
    Yes! The first admin should invite the second admin like residents. You may need to
    contact us to grant admin priveleges to the second admin.
  </p>
  <h5 style="font-weight: bold;">
    Can a resident be an admin?
  </h5>
  <p>
    Yes. However, if they will be submitting encounters, that resident will still be billed as a resident to the account.
  </p>
  <h5 style="font-weight: bold;">
    Can the billing period be aligned with the academic year?
  </h5>
  <p>
    Yes, of course! If you've signed up for a trial, but would like to be invoiced annually,
    just send an e-mail <a href="mailto:help@encountercounter.com">help@encountercounter.com</a>
    and we will adjust your billing period. We won't split hairs over pro-rated costs.
  </p>
  <h5 style="font-weight: bold;">
    Can I count other types of encounters?
  </h5>
  <p>
    Yes! The default categories used by our residencies are show below,
    but we have had inquiries about changing these labels.
    Just send us an e-mail to <a href="mailto:help@encountercounter.com">help@encountercounter.com</a>
    so we can discuss your desired labels.
    <ul style="padding-left: 2em;">
      <li>Adult: Inpatient</li>
      <li>Adult: ED</li>
      <li>Adult: ICU</li>
      <li>Adult: Inpatient Surgery</li>
      <li>Pediatric: Inpatient</li>
      <li>Pediatric: Newborn</li>
      <li>Pediatric: ED</li>
      <li>Continuity: Inpatient</li>
      <li>Continuity: External</li>
    </ul>
  </p>
  <h5 style="font-weight: bold;">
    How do I know the encounters are authentic?
  </h5>
  <p>
    Our current residencies simply <em>trust</em> that their residents will be honest
    about the quantity of encounters that they record. Your data will show the
    dates that they entered the encounters and the date that was selected
    upon entering the encounters. The selectable date is meant to represent the
    date that residents encountered patients, so a resident can log days from
    the past accurately. Your best indicator of authenticity is to read
    between the lines for improbable or inaccurate activity. The app is also
    designed to operate with an administrator account who invites residents
    to the application. The admin, by default, sees all user activity, but
    residents cannot see each others' activity. The design is expected to reduce
    competition and the probability that residents would be encouraged to
    falsify data.
  </p>
</div>


