
  <!-- Navbar
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item"><a class="navbar-link" href="#"><span style="font-size: 1.2em;"><b>Encounter Counter</b><span></a></li>
        <li class="navbar-item"><a class="navbar-link" href="http://www.encountercounter.com/users/sign_in">Sign In</a></li>
      </ul>
    </div>
  </nav>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h3 class="hero-heading">Don't let paper and spread sheets slow down your efficiency.</h3>
          <img id="hero-image" alt="Encounter Counter Logo" src="images/logo_295x235.png">
        </div>
        <div class="one-half column phones">
          <img class="phone" alt="Main Tally Screen of App" src="images/iphone_tally.png">
        </div>
      </div>
    </div>
  </div>

  <div id="intro" class="section values">
    <div class="container">
      <div class="row">
        <div class="one-third column">
          <h2 class="value-name">Enable</h2>
          <h5 class="value-heading">Enable Your Residents</h5>
          <p class="value-description">Stop interrupting their workflow. Let them log encounters while they're on the go; remove the burden of paper and spreadsheets, and allow them more time for patients and productivity.</p>
        </div>
        <div class="one-third column">
          <h2 class="value-name">Relieve</h2>
          <h5 class="value-heading">Relieve Your Admin Staff</h5>
          <p class="value-description">Don't make your admin staff send weekly or monthly reminders for residents to submit their encounters. Aggregating spreadsheet data is time consuming and the time is better spent on helping the residents, not hassling them.</p>
        </div>
        <div class="one-third column">
          <h2 class="value-name">Export</h2>
          <h5 class="value-heading">Export on Demand</h5>
          <p class="value-description">You can view and download a detailed report and summary of your residents' encounters at any time - it's quick and easy. However, if you need help just e-mail us and we'll respond in a timely fashion.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section demo-screen">
    <div class="container">
      <div class="row">
        <div class="four offset-left-by-one columns feature">
          <h3 class="section-heading">Sign In</h3>
          <p>Sign in with an e-mail address and password.</p>
        </div>
        <div class="four offset-left-by-two columns phones">
          <img class="phone" alt="Sign In Screen" src="images/iphone_sign_in.png">
        </div>
      </div>
    </div>
  </div>

  <div class="section demo-screen">
    <div class="container">
      <div class="row">
        <div class="four offset-left-by-one columns phones">
          <img class="phone" alt="Main Tally Screen of App" src="images/iphone_tally.png">
        </div>
        <div class="four offset-left-by-two columns feature">
          <h3 class="section-heading">Tap to Tally</h3>
          <p>Tap the blue buttons to count your encounters.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section demo-screen">
    <div class="container">
      <div class="row">
        <div class="four offset-left-by-one columns feature">
          <h3 class="section-heading">View</h3>
          <p>Residents will see a table of their encounters. Administrators will see all residents' encounters.</p>
        </div>
        <div class="four offset-left-by-two columns phones">
          <img class="phone" alt="Log of Recent Encounters Screen" src="images/iphone_view.png">
        </div>
      </div>
    </div>
  </div>

  <div class="section demo-screen">
    <div class="container">
      <div class="row">
        <div class="four offset-left-by-one columns phones">
          <img class="phone" alt="Summary of Encounters Screen" src="images/iphone_export.png">
        </div>
        <div class="four offset-left-by-two columns feature">
          <h3 class="section-heading">Export</h3>
          <p>With the tap of a button or click of a mouse, you can download a spreadsheet with all of your residency's data - along with a summary.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="section subscriptions">
    <div class="container">
      <h3 class="section-heading">Pricing</h3>
      <p class="value-description">
        The convenience of Encounter Counter has a small price.
        Server and database costs are covered with monthly and annual subscriptions.
        Support from customers encourages further development of this service.
        We provide first-class customer service!
        <br />
        If you desire specific features, need help, or have questions,
        please contact us at <a href="mailto:the.encounter.counter@gmail.com">the.encounter.counter@gmail.com</a>.
      </p>
      <div class="row">
        <div class="five offset-left-by-one columns subscription">
          <p class="section-description subscription-description">Monthly</p>
          <!-- Reflected in data-amount -->
          <h3 class="price-number">$<span class="digit">2</span><sup><small>00</small></sup></h3>
          <p class="subscription-term"><em>per month per user</em></p>
        </div>
        <div class="five offset-right-by-one columns subscription">
          <p class="section-description subscription-description">Annual</p>
          <!-- Reflected in data-amount -->
          <h3 class="price-number">$<span class="digit">15</span><sup><small>00</small></sup></h3>
          <p class="subscription-term"><em>per year per user</em></p>
        </div>
      </div>
      <br />
      <p class="value-description">
        We offer a <b>45-Days Free Trial</b>, with <em>NO credit card required</em> !
      </p>
    </div>
  </div>
  <div id="sign_up" class="section demo-screen">
    <div class="container">
      <div class="row">
        <div class="one-third column">
          <h3 class="section-heading">Ready?</h3>
          <p>The next step is to Sign Up as an administrator and send e-mail invitations to your residents within the app!</p>
          <a id="sign-up-button" class="button button-primary"
            href="http://www.encountercounter.com/users/sign_up">
            Sign Up Now
          </a>
        </div>
        <div class="one-third column phones">
          <img class="phone" alt="Sign Up Screen" src="images/iphone_sign_up.png">
        </div>
        <div class="one-third column">
          <h3 class="section-heading">Not Ready?</h3>
          <p>Join the Mailing List!</p>
          <form accept-charset="UTF-8" action="https://formkeep.com/f/2ad843dd8f93" method="POST">
            <input type="hidden" name="utf8" value="✓">
            <input type="email" name="email" placeholder="e-mail"><br />
            <input type="text" name="name" placeholder="name"><br />
            <input type="text" name="comments" placeholder="comments"><br />
            <input type="submit" class="button" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>
