<!-- pages#under-construction -->
<div class="dialog">
  <div>
    <h1>EncounterCounter.com</h1>
    <p>I'm taking a break from counting. I'll be back in a day or two!</p>
  </div>
  <p>If you've seen this page for too long, please contact us at help@encountercounter.com</p>
</div>
