<footer class="fullwidth_footer <%= "#{'fixed_footer' if !current_user || (controller_name == 'encounters' && action_name == 'show')}" %>">
  <h4>Encounter Counter &copy; <%= Time.now.year %></h4>
</footer>
