<div id="sign_in_message">
  <p>
    You must
    <%= link_to 'sign in', new_user_session_path, data: {transition: 'flip'} %>
    to view this page.
  </p>
  <br />
  <p>
    <%= mail_to ENV["CONTACT_EMAIL_ADDRESS"], 'Contact', body: "If you are encountering difficulties with this app, or you'd like to contact the customer service team, please add your message here." %> Encounter Counter if you are having trouble with this app.
  </p>
</div>
