<div class="ui-content wrap_section_narrow_top">
  <div class="row">
    <p>
      You must
      <%= link_to 'sign in', new_user_session_path, data: {transition: 'flip'} %>
      to view this page.
    </p>
  </div>
</div>
