<div id="subscription_expired_header" data-role="header">

  <!-- TODO: Make this is a header like the sign_in_message -->
  <% if current_user.admin? || current_user.admin_resident? %>
    <h2>
      Your residency's subscription has expired or your 45 Days of Free Trial has ended.
    </h2>
    <h2>
      Please <%= link_to "provide credit card payment", payment_info_path %> if you want to count encounters.
    </h2>
  <% elsif # current_user.resident? %>
    <h2>
      Your residency's subscription has expired. Please
      <%= mail_to current_user.invited_by ? current_user.invited_by.email : ENV["CONTACT_EMAIL_ADDRESS"],
      'contact your administrator', body: "If you are encountering difficulties with this app, or you'd like to contact the customer service team, please add your message here." %> and ask them to renew the subscription.
    </h2>
  <% end %> <!-- end role-conditional header -->


  <h2>
    Email <%= mail_to ENV["CONTACT_EMAIL_ADDRESS"], 'Encounter Counter', body: "If you are encountering difficulties with this app, or you'd like to contact the customer service team, please add your message here." %> for help.
  </h2>
  <br />
</div> <!-- #subcription_expired_header -->



