<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Encounter Counter</title>
  <meta name="description" content="The Encounter Counter allows resident physicians to quickly
  and efficiently record a daily count of each type of encounter.">
  <meta name="author" content="Encounter Counter LLC">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/landing-page.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/logo_295x235.png">

</head>


<body>

<!-- Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a class="navbar-link" href="#">
          <span style="font-size: 1.2em;">
            <b>Encounter Counter</b>
          </span>
        </a>
      </li>
      <li class="navbar-item"><a class="navbar-link" href="https://www.encountercounter.com/users/sign_in">Sign In</a></li>
    </ul>
  </div>
</nav>


  <%= yield %>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
